# ----------- commands for external tools -----------
AF_PREDICT="echo \"hello world\""
CDHIT_BIN="docker run --rm -v /wd/data/:/blast/blastdb_custom:rw -w /blast/blastdb_custom ncbi/blast rpsblast"
CDHIT_MAKEDB="docker run --rm -v /wd/data/:/blast/blastdb_custom:rw -w /blast/blastdb_custom ncbi/blast makeprofiledb"
CDD_BIN="docker run --rm -v /wd/data/:/blast/blastdb_custom:rw -w /blast/blastdb_custom ncbi/blast rpsblast"
SKA_BIN="docker run --rm -v /wd/data/:/blast/blastdb_custom:rw -w /blast/blastdb_custom ncbi/blast rpsblast"
PESTO_PREDICT="docker run --rm -v /wd/data/:/blast/blastdb_custom:rw -w /blast/blastdb_custom ncbi/blast rpsblast"

# ----------- data sources -----------

# used only for downloads, if you downloaded files yourself,
# ignore this variable and configure the correct paths below.
DATA_DIRECTORY="./data"
CDHIT_DB_FILE="mycdd"
PDB_SEQUENCES="/data/pdb_seqres.txt"
PDB_SEQUENCES_FILTERED="/data/pdb_seqres-proteins-only.fasta"

# ----------- input files -----------
INPUT_FASTA="/data/targets.fasta"
INPUT_INTERACTIONS="/data/interactions.tsv"

# ----------- result files -----------
CDD_RESULT="/data/CDD.result"
CDHIT_CLUSTERS="/data/pdb-cdhit"

# ----------- URLs -----------
PDB_STRUCTURES_URL="ftp://ftp.wwpdb.org/pub/pdb/data/structures/all/pdb/*"
PDB_SEQUENCES_URL="https://files.rcsb.org/pub/pdb/derived_data/pdb_seqres.txt.gz"
CDD_URL="https://ftp.ncbi.nih.gov/pub/mmdb/cdd/cdd.tar.gz"
